    
    * {
    margin:0; 
    padding:0; 
    box-sizing: border-box;
    }
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top:8rem;
}

/* main {
    margin-top: 5rem; 
} */

h1 {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 3.5rem

}

h3 {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem

}

h4 {

     font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1rem

}


p {

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
    font-size: 0.8rem;

}


#kurv {
    background:yellow; 
    color:black; 
    padding:0.8rem; 
    text-decoration: none !important
}

.burger-icon span {
    display:none; 
    width: 25px;
    height: 3px;
    background: #333;
    margin: 3px 0;
    transition: all 0.3s ease;
    border-radius: 3px;
}

/* Media quries for burger menu */


@media (max-width:768px) {
  
    /* navigation */ 

nav {
    display:none; 
}
   
nav.open {
        display: block !important;
    }
nav li {
    width:100%;; 
}

/* burger menu */

.burger-icon {
    display:flex !important; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top:1rem; 
    right:1rem;
    z-index: 2000;
    cursor: pointer; 
    width:40px;
    height:40px; 
}

.burger-icon span {
    display:block !important; 
}

nav  {
    display:none; 
    flex-direction: column;
    align-items: flex-start; 
    width: 100%;
    padding: 0;
    margin: 0;
    position:absolute; 
    top:60px; 
    right:0; 
    background:#fff;
    opacity: 95%;
    box-shadow: 0 5px 15px rgba(90, 85, 70, 0.3);

}

/* Footer for mobil enheder*/


footer {
    flex-wrap: wrap; 
    max-height:50rem; 

}

footer .tilmeld {
    display:none; 
}
    
}