

.section-1-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color:#FAF4E0;
    z-index: 2;
    
    

}


.section-1-main-tekst{
    width: 30rem;
    height: 20rem;
    margin: 3rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center; 
    border: solid 0.5px #333333; 

   
    

}


.section-1-main-tekst {
    animation: fadeInSlideUp 1s ease-out forwards;
    animation-delay: 0.5s; /* Starts after 0.5 seconds */
    opacity: 0.9;
    
}

@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section-1-main-tekst p {
    width:25rem;
    line-height: 1.5rem;
}

.timeline {
    position: relative;
    max-width: 2000px;
    margin:100px; 
    
}

.container {
    padding: 10px 50px; 
    position: relative; 
    width:50%; 
    height:30rem; 
    animation: movedown 1s linear forwards; 
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

     100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.container:nth-child(1) {
    animation-delay:0s;
}

.container:nth-child(2) {
    animation-delay:1s;
}

.container:nth-child(3) {
    animation-delay:2s;
}

.container:nth-child(4) {
    animation-delay:3s;
}

.container:nth-child(5) {
    animation-delay:4s;
}




.text-box {
    padding: 20px 30px; 
    background: #FAF4E0;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    height:100%; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);


}


.left-container {
    left:0; 
}

.right-container {
    left:50%
}

.small-circle {
    height: 40px; /* Or any desired size */
  width: 40px; /* Same size as height */
  border-radius: 50%; /* Creates a circle */
  background-color: #FCDD60; /* Optional: Add a background color */
  /*  Optional: Add a border */
  border: 1px solid #FCDD60;
  position: absolute;
  right:-20px; 
  top:32px; 
  z-index: 10;
}

.right-container .small-circle {
    left:-20px;
}


.timeline::after {
    content:''; 
    position: absolute;
    width:6px; 
    height:100%;
    background:#FCDD60; 
    opacity: 0.6;
    top:0; 
    left:50%; 
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height:100%; 
    }
}

.left-container-arrow {
    height:0;
    width:0; 
    position: absolute;
    top:28px; 
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;

    border-left: 15px solid #FCDD60;
    right:-15px; 
}

.right-container-arrow {
    height:0;
    width:0; 
    position: absolute;
    top:28px; 
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;

    border-right: 15px solid #FCDD60;;
    left:-15px; 
}

/* Responsiv for mobil enheder */

@media screen and (max-width:768px) {


/* Section 1 */

    .section-1-main {
        width:100%; 
        height:20rem; 
    }

       .section-1-main-container {
        width:100%; 
        height:100vh; 
        border: solid green 1px;  

    }

    .section-1-main-tekst {

        width:100%; 
        height:100vh; 
         border: solid red 1px;  
         text-align: left;
          overflow:hidden; 
        margin:0; 
        padding:0; 

    }

    .section-1-main-tekst p {

        width:10rem; 
        height:10rem; 
        overflow:hidden; 
        margin:0; 
        padding:0;  


    }

 

      .section-1-main-tekst h1 {
        font-size:2rem; 
      }


      /* Section 2 */

    .timeline {
        margin: 50px auto;
    }
    .timeline::after {

        left:31px; 
        
    }

    .container {
        width:100%; 
        padding-left:80px; 
        padding-right:25px; 
        overflow:hidden; 
    }

    .text-box {
        font-size:13px; 
        overflow:hidden; 

    }

    .text-box small {
        margin-bottom:10px; 
    }

    .right-container {
        left:0; 
    }

    .left-container .small-circle, .right-container .small-circle {
        left:10px; 
    }

    .left-container .small-circle, .right-container-arrow {
        border-right:15px solid #FCDD60; 
        border-left:0; 
        left:-15px; 
    }



.text-box h2 {

    margin:1.5rem; 
}

.text-box p {
    line-height: 1.7rem;
    margin:1.5rem; 
    overflow: hidden;
    
}





}

    